[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection

[merge]
    conflictstyle = zdiff3

[init]
    defaultBranch = main

[user]
    email =  2477191+MichielTukker@users.noreply.github.com
    name = Michiel Tukker
[pull]
    rebase = false

